<h1>Eventos</h1>

<a href="/events-form/create" class="btn btn-primary">Agregar nuevo</a>
<table class="table-striped table-dark">
  <thead class="thead-dark">
    <tr>
      <td>Nombre</td>
      <td>Accion</td>

    </tr>
  </thead>
 <tbody>
  <tr *ngFor="let evento of eventos">
    <td>{{evento.name}}</td>
    <td>{{evento.edad}}</td>
    <td>{{evento.locacion}}</td>
    <td>
      <a routerLink="/events-form/read/{{evento.id}}">Ver</a> <br>
      <a routerLink="/events-form/update/{{evento.id}}">Editar</a> <br>
      <a routerLink="/events-form/delete/{{evento.id}}">Eliminar</a>
    </td>
  </tr>
 </tbody>
</table>
