<h1>Eventos</h1>

<a href="/events-form/create" class="btn btn-primary">Agregar nuevo</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <td>Nombre</td>
            <td>Copias</td>
            <td>Accion</td>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventos">
            <td>{{evento.Nombre}}</td>
            <td>{{evento.cantidad}}</td>
            <td>
                <div class="button-crud">
                    <a routerLink="/events-form/read/{{evento.id}}" class="btn btn-outline-primary">Ver</a> <br>
                    <a routerLink="/events-form/update/{{evento.id}}" class="btn btn-outline-primary">Editar</a> <br>
                    <a routerLink="/events-form/delete/{{evento.id}}" class="btn btn-outline-primary">Eliminar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>