<h1>  {{ action === 'create' ? 'Nuevo Evento' : (action === 'read' ? 'Ver Evento' : 'Editar Evento') }}</h1>

<div class="card" style="width: 100%;" *ngIf="action === 'read'">
    <img class="card-img-top" [src]="data.image" alt="Imagen del evento">
    <div class="card-body">
        <h5 class="card-title">{{ data.Nombre }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bs. {{ data.ticket_price }}</h6>
        <p class="card-text">{{ data.description }}</p>
        <p>Ubicación: {{ data.location }}</p>
        <p>Fecha: {{ data.date }}</p>
        <p>Cantidad de boletos: {{ data.ticket_quantity }}</p>
        <div>
            <p>Descuento: {{ data.discount ? data.percentage + '%' : 'No aplica' }}</p>
        </div>
        <p>Tags: {{ data.tags?.join(', ') }}</p>
    </div>
</div>

<div *ngIf="action !== 'read'">
    <form [formGroup]="eventForm" (ngSubmit)="crud()">
        <div class="form-control-group">
            <label for="imagen">URL Imagen</label>
            <input id="imagen" formControlName="image" class="form-control" type="text">
        </div>
        <div class="form-control-group">
            <label for="Nombre">Título</label>
            <input id="Nombre" formControlName="Nombre" class="form-control" type="text">
        </div>
        <div class="form-control-group">
            <label for="precio">Precio</label>
            <input id="precio" formControlName="precio" class="form-control" type="number">
        </div>
        <div class="form-control-group">
            <label for="Descripcion">Descripción</label>
            <input id="Descripcion" formControlName="Descripcion" class="form-control" type="text">
        </div>
        <div class="form-control-group">
            <label for="cantidad">Cantidad de boletos</label>
            <input id="cantidad" formControlName="cantidad" class="form-control" type="number">
        </div>
        <div class="checkbox">
            <label class="form-check-label" for="discount">Descuento</label>
            <input id="discount" formControlName="discount" class="form-check-input" type="checkbox">
            <small>Al agregar el descuento, el evento se marcará como destacado</small>
        </div>
        <div class="form-control-group" *ngIf="eventForm.get('discount')?.value === true">
            <label for="percentage">Porcentaje</label>
            <input id="percentage" formControlName="percentage" class="form-control" type="text">
        </div>
        <div class="form-control-group">
            <label for="tags">Tags</label>
            <input id="tags" formControlName="tags" class="form-control" type="text" placeholder="Escribe las etiquetas separadas por comas">
            <small class="form-text text-muted">
                Tags disponibles: Nuevos, terror, aventura, estrategia, arcade, simulacion, accion, deportivos, multijugador
            </small>
        </div>
        <button type="submit" class="btn btn-primary">{{ action === 'delete' ? 'Eliminar' : 'Enviar' }}</button>

    </form>
</div>